@font-face {
  font-family: 'lime';
  src: url('libre.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'libre';
  src: url('lime.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
html {
  background: #d76144;
  background-size: 100% 100%;
}
body {
  color: #3b6061;
  font-family: lime;
  line-height: 1.5;
  margin: 0 auto;
  max-width: 40em;
  padding: 1em 1em;
  text-align: center;
  width: 80vw;
  font-size: 2vw;
  background: #dfceb9;
  
}
h2, h3, h4, h5, h6 {
  font-size: 3vw;
  margin: 1.25em 0 0.5em 0;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  color: #3b6061;
}
h1 {
  font-size: 4vw;
  margin: 1.25em 0 0.5em 0;
  line-height: 1.2;
  text-align: center;
  font-weight: bold;
  color: #0c4648;
  font-family: libre;
}
a:link {
  color: #d76144;
}
a:visited {
  color: #eba796;
}
a:focus, a:hover {
  color: #eba796;
}
a:active {
  color: #eba796;
}
h1 a:empty:before, h2 a:empty:before, h3 a:empty:before,
h4 a:empty:before, h5 a:empty:before, h6 a:empty:before {
  content: "#";
}
h1 a:empty, h2 a:empty, h3 a:empty, h4 a:empty, h5 a:empty, h6 a:empty {
  visibility: hidden;
  padding-left: 0.25em;
}
h1:hover a:empty, h2:hover a:empty, h3:hover a:empty,
h4:hover a:empty, h5:hover a:empty, h6:hover a:empty {
  visibility: visible;
}
img {
  max-width: 100%;
}
.sunset {
background-image: url("sunset.avif");
background-repeat: no-repeat;
background-position: center;
background-size: cover;
background-attachment: fixed;  
border-radius: 10px;
padding: 10vw 10vw 10vw 10vw;
}






